@model Survey
@{
    ViewData["Title"] = "DailySurvey";
    IList<ParkData> parks = (IList<ParkData>)ViewData["ParkList"];
    Dictionary<string, string> States = new Dictionary<string, string> {
{"AL", "Alabama"},
{"AK", "Alaska"},
{"AZ", "Arizona"},
{"AR", "Arkansas"},
{"CA", "California"},
{"CO", "Colorado"},
{"CT", "Connecticut"},
{"DE", "Delaware"},
{"FL", "Florida"},
{"GA", "Georgia"},
{"GU", "Guam"},
{"HI", "Hawaii"},
{"ID", "Idaho"},
{"IL", "Illinois"},
{"IN", "Indiana"},
{"IA", "Iowa"},
{"KS", "Kansas"},
{"KY", "Kentucky"},
{"LA", "Louisiana"},
{"ME", "Maine"},
{"MD", "Maryland"},
{"MA", "Massachusettes"},
{"MI", "Michigan"},
{"MN", "Minnesota"},
{"MS", "Mississippi"},
{"MO", "Missouri"},
{"MT", "Montana"},
{"NE", "Nebraska"},
{"NV", "Nevada"},
{"NH", "New Hampshire"},
{"NJ", "New Jersey"},
{"NM", "New Mexico"},
{"NY", "New York"},
{"NC", "North Carolina"},
{"ND", "North Dakota"},
{"OH", "Ohio"},
{"OK", "Oklahoma"},
{"OR", "Oregon"},
{"PA", "Pennsylvania"},
{"PR", "PuertoRico"},
{"RI", "Rhode Island"},
{"SC", "South Carolina"},
{"SD", "South Dakota"},
{"TN", "Tennesee"},
{"TX", "Texas"},
{"UT", "Utah"},
{"VE", "Vermont"},
{"VI", "Virgin Islands"},
{"VA", "Virginia"},
{"WA", "Washington"},
{"WV", "West Virginia"},
{"WI", "Wisconsin"},
{"WY", "Wyoming"}
};
}

<h2>DailySurvey</h2>
<form method="post" asp-controller="Survey" asp-action="AddToSurvey">
    <label asp-for="ParkCode">Favorite National Park</label>
    <select asp-for="ParkCode" required>
        @foreach (ParkData park in parks)
        {
            <option value="@park.Code">@park.Name</option>
        }
    </select>

    <label asp-for="UserEmail"></label>
    <input asp-for="UserEmail" required type="email" />

    <label asp-for="UserState"></label>
    <select asp-for="UserState" required>
        @foreach (KeyValuePair<string, string> state in States)
        {
            <option value="@state.Key">@state.Value</option>
        }
    </select>

    <label asp-for="ActivityLevel"></label>
    <label for="Inactive">Inactive</label>
    <input type="radio" name="ActivityLevel" id="Inactive" value="Inactive" required>
    <label for="Sedentary">Sedentary</label>
    <input type="radio" name="ActivityLevel" id="Sedentary" value="Sedentary" required>
    <label for="Active">Active</label>
    <input type="radio" name="ActivityLevel" id="Active" value="Active" required>
    <label for="Extremely-Active">Extremely Active</label>
    <input type="radio" name="ActivityLevel" id="Extremely-Active" value="Extremely Active" required>

    <input type="submit" value="Submit" />

</form>
