@model IList<ParkData>
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h1></h1>
    @foreach (ParkData park in Model)
    {
        <article class="park">
            <a asp-controller="Home" asp-action="Detail">
                <img src="~/images/parks/@(park.Code.ToLower()).jpg" alt="Picture of @park.Name" />
            </a>
            <section>
                <h2>@park.Name</h2>
                <p>@park.State</p>
                <p>@park.Description</p>
            </section>
        </article>
    }
</main>