<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication.Web</title>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/site2.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" language="javascript"></script>

    @{
        //TODO Web font or system font
    }
</head>
<body>
    <header id="site-header">
        <img id="site-name" src="~/images/logo.png" alt="National Park Geek" />
        <nav id="main-nav">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Survey" asp-action="Index">Survey</a></li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
