<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication.Web</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script type="text/javascript" language="javascript" src="~/js/jquery-3.3.1.js"></script>

    <script type="text/javascript" language="javascript">
        $(function () {
            var $win = $(window);

            $win.scroll(function () {
                if ($win.scrollTop() == 0)
                    $("#site-name").removeClass("shrink");
                else {
                    $("#site-name").addClass("shrink");
                }
            });
        });
    </script>
    @{
        //TODO Web font or system font
    }
</head>
<body>
    <header id="site-header">
        <img id="site-name" src="~/images/logo.png" alt="National Park Geek" />
        <nav id="main-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Survey</a></li>
            </ul>
        </nav>
    </header>

    @RenderBody()
</body>
</html>
